<br>
<font size="+2"> In this notebook, we will be working on questions in the Colab Notebooks section in Module 1. </font>
<br><br>

# Questions on Accessing Data



Let's take a break from learning basic pandas commands and have you practice what you've learned so far. To do this, we will work in this new Colab notebook.
<br><br>
In this notebook, you will read the `city_temperature.csv` datafile; the format of this datafile is the same as the temperature datafile we were using in the video, it just has many more data points because it includes temperature data for the entire world (i.e. rows).

<font color='#FF4500' size="+2"> To set up your DataFrame for these questions, run the cell below. </font>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

import os
os.chdir("/content/drive/My Drive/AIMOOC")

import pandas as pd
df2 = pd.read_csv("/content/drive/My Drive/AIMOOC/Modules/Module1/Data/city_temperature.csv")

## Question 1

What's the name of the country at row number 1000000?

In [5]:
# Your code here
import pandas as pd
df = pd.read_csv("./Data/city_temperature.csv")

/usr/local/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.loc[999999]

Region                Europe
Country           Yugoslavia
State                    NaN
City                Belgrade
Month                      9
Day                        3
Year                    2005
AvgTemperature            66
Name: 999999, dtype: object

## Question 2

What is the name of the city that comes last alphabetically?

In [16]:
# Your code here
df.sort_values("City", ascending=False).iloc[0]

Region                 Europe
Country           Switzerland
State                     NaN
City                   Zurich
Month                      12
Day                        31
Year                     2018
AvgTemperature           38.8
Name: 967803, dtype: object

## Question 3

How many data points are there in the US?

In [11]:
# Your code here
df.loc[df["Country"] == 'US'].count()

Region            1455337
Country           1455337
State             1455337
City              1455337
Month             1455337
Day               1455337
Year              1455337
AvgTemperature    1455337
dtype: int64

## Question 4

What is the highest temperature in the dataset?

In [17]:
# Your code here
df.sort_values("AvgTemperature", ascending=False).iloc[0]

Region            Middle East
Country                Kuwait
State                     NaN
City                   Kuwait
Month                       8
Day                         1
Year                     2012
AvgTemperature            110
Name: 1034962, dtype: object

## Question 5

What is the lowest temperature in the US? This dataset uses -99 as the temperature for missing values. Find the minimum temperature ignoring -99.

In [18]:
# Your code here
df.loc[(df['Country'] == 'US') & (df['AvgTemperature'] != -99.0)].sort_values("AvgTemperature").iloc[0]

Region            North America
Country                      US
State                    Alaska
City                  Fairbanks
Month                        12
Day                          31
Year                       1999
AvgTemperature              -50
Name: 1499140, dtype: object

## Question 6

What is the average August temperature in Beijing?

In [21]:
# Your code here
df.loc[(df['City'] == 'Beijing') & (df['Month'] == 8)].mean()

Month                8.000000
Day                 16.000000
Year              2007.000000
AvgTemperature      77.954194
dtype: float64

## Question 7

What is the city with the highest temperature?

In [22]:
# Your code here
df.sort_values('AvgTemperature', ascending=False).iloc[0]

Region            Middle East
Country                Kuwait
State                     NaN
City                   Kuwait
Month                       8
Day                         1
Year                     2012
AvgTemperature            110
Name: 1034962, dtype: object

## Question 8

In which year was the temperature in May the highest?

In [23]:
# Your code here
df.loc[df['Month'] == 5].sort_values('AvgTemperature', ascending=False).iloc[0]

Region            Middle East
Country                Kuwait
State                     NaN
City                   Kuwait
Month                       5
Day                        28
Year                     1999
AvgTemperature          104.9
Name: 1030148, dtype: object

In which city was the temperature in May the highest?

In [ ]:
# Your code here (hint: make use of the code from the previous question)